#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(88,14,19);
background: radial-gradient(circle, rgba(88,14,19,1) 0%, rgba(88,13,20,1) 0%, rgba(17,17,17,1) 100%);
}

.main{
  flex-grow: 1;
}